/* primary: custom */
:root {
  --md-primary-fg-color:        #2E3440;
  --md-primary-fg-color--light: #4C566A;
  --md-primary-fg-color--dark:  #3B4252;
}

/* Apply the style to bold elements */
strong {
    color: #EBCB8B !important;
}
  
/* Apply the style to italic elements */
em {
    color: #A3BE8C !important;
    font-style: normal !important;
}


h1 {
  color: #BF616A !important;
}

h2 {
  color: #EBCB8B !important;
}

h3 {
  color: #A3BE8C !important;
}

h4 {
  color: #B48EAD !important;
}


  